.container {
  max-width: 1280px;
  margin: auto;
  overflow: hidden;
}

.text-center {
  text-align: center;
}

// Padding
.py {
  &-1 {
    padding: 1rem 0;
  }

  &-2 {
    padding: 2rem 0;
  }

  &-3 {
    padding: 3rem 0;
  }

  &-4 {
    padding: 4rem 0;
  }
}

// Margin
.py {
  &-1 {
    margin: 1rem 0;
  }

  &-2 {
    margin: 2rem 0;
  }

  &-3 {
    margin: 3rem 0;
  }

  &-4 {
    margin: 4rem 0;
  }
}

.section-title {
  font-size: 2rem;
  padding-top: 2rem;
  display: block;
  text-align: center;
  font-weight: 100;
  text-transform: uppercase;
}

.bottom-line {
  height: 4px;
  width: 4rem;
  background: $medium-color;
  display: block;
  margin: 0.4rem auto 0.4rem auto;
}